@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700;800&family=Epilogue:wght@300;400;500;600&display=swap');

body {
  background-color: #07080d;
  color: white;
  font-family: 'Epilogue', sans-serif;
}